
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    min-height:100vh
}

#box::-webkit-scrollbar {
        display: none;
}
/*#box::-webkit-scrollbar {
        width:0px;
}*/
html {
	font: 14px/1.5 "Microsoft Yahei","微软雅黑","宋体",serif;
	color: #222;
}
h2{
	margin-top: -150px;
	font: 28px/1.5 "Microsoft Yahei","微软雅黑","宋体",serif;
	text-align: center;
	font-weight:bold;
	font-style: italic;
	z-index: 55;
}
html,body{
	overflow:hidden;
	width: 100%;
 	height: 100%;
	margin: 0px;
	padding: 0px;
}

.zero{
	overflow:hidden;
	width: 100%;
    min-height: 100%;
	position:relative;
	/*-webkit-filter: blur(15px);
          	-moz-filter: blur(15px);
           	-o-filter: blur(15px);
            	-ms-filter: blur(15px);
      	filter: blur(15px);*/
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
   	/*font-family: 'div';*/
            	/*border-radius: 30px;*/
            	text-align:center;

	/*background: url("188.jpg") no-repeat;
	background-size: 100%;*/
	/*margin-left: 50px;*/
	/*width:100%;*/
	/*height: 100%;*/
	/*margin: 0 auto;
	margin-top: 200px;*/
	/*background-color: rgba(254,254,254,0.78);*/
	/*padding-top:70px;*/

}


.inner{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0; 
	/*z-index: 999;*/
	margin: 0 auto;
	height: 200px;
	width: 100%;
	background: url("../backgroundimage/601846.jpg") no-repeat;
	/*background-color: #66f9cf;*/

	line-height:100px;
	background-size: cover;
	background-size: 100%;	
	
}
.text{
	height: 220px;
	margin-bottom:2px; 
	overflow:hidden;
	margin-top: 15em;
	

}

.under{

	margin-top: 4em;
	/* position:fixed; 
	 left:0px; 
	 bottom:0px; 
	 width:100%; 
	height: auto;
	 z-index:9999;*/
}

 .div1 {

	/*position:fixed; 
	left:0px; 
	bottom:0px; 
	width:100%; 
	height: auto;*/


 	margin-top: 150px;
	width:100%;
	height:200px;
	overflow:hidden;
	margin:auto;
	position:relative;
}
/*最下面的滚动文字*/
@keyframes anis {
	100% {
	transform:translateY(-300px)
}
}
/*img {
	position:absolute;
}*/
.div2 {

	
	font: 18px/1.5 "Microsoft Yahei","微软雅黑","宋体",serif;
	color: #666;
	height: 100%;
	width: 100%;
	animation:anis 14s linear infinite;
}
/*.div2:hover {

	animation-play-state:paused;
}
*/









